.portfolio-services{
  .card-detail{
    box-shadow: var(--box-shadow);
    background-color: var(--black-color);
    border-radius: 2rem;
    padding: 3rem;
    margin-top: -2rem;
  h5{
    font-weight: 800;
    font-family: var(--secondary-font);
  }
  }
  
}